Business+Model+Canvas.pptx
BeeFirst.pptx
C:\Users\Fritz Sosso\Dropbox\BeeFirst\monsite\settings.py
C:\Users\Fritz Sosso\Dropbox\BeeFirst\monsite\_pycache_
C:\Users\Fritz Sosso\Dropbox\BeeFirst\EasyJob\_pycache_
C:\Users\Fritz Sosso\Dropbox\BeeFirst\EasyJob\migrations\_pycache_